body {
    background-color: grey;
    font-family: sans-serif;
}

/* NAVBAR */
.navbar {
  background-color: #343a40; /* Dark background for the navbar */
  padding-left: 80px; /* Aggiungi padding a sinistra per fare spazio al bottone */
}
.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
/* White hamburger icon */
}
.dropdown-menu {
  background-color: #343a40; /* Dark dropdown background */
}
.dropdown-item {
  color: white; 
}
.dropdown-item:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

/* BOTTONI */
.btn-back-home {
  position: fixed; 
  top: 70px;
  left: 80px;
  background-color: rgba(0, 0, 0, 0.5); 
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  z-index: 1000; 
}

.row {
  margin-top: 100px; /* Spazio sopra i bottoni per evitare sovrapposizioni */
}

.col-12.col-md-4 {
  position: relative; /* Posiziona la colonna in modo relativo */
  left: 80px; /* Allinea la colonna sotto il menu hamburger */
}

.list-group {
  width: 200px; /* Larghezza fissa per la colonna dei bottoni */
}

.list-group-item {
  background-color: #dc3545;
  color: white;
  border: none;
  margin-bottom: 5px;
  text-align: center;
  padding: 10px 15px;  
  font-size: 14px; 
}

/* Stile per i bottoni quadrati */
.btn {
  border-radius: 0; /* Angoli retti per un aspetto quadrato */
  width: 60%; /* Occupa parziale larghezza del contenitore */
  padding-top: 10px; /* Padding uguale sopra e sotto */
  padding-bottom: 10px;
}


/* DASHBOARD */
.container {
  background-color: #45d379; /* Sfondo chiaro per il container */
  border-radius: 10px; /* Angoli arrotondati */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ombra leggera */
}