<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizza DDT</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: grey;
        }
    </style>
    <script>
        function navigateToHome() {
            window.location.href = '/';
        }
        function navigateToIndex() {
            window.location.href = '/index';
        }
    </script>
</head>
<body>

    <!-- Navbar with dropdown hamburger menu -->
    <nav class="navbar navbar-dark">
        <div class="dropdown">
            <button class="navbar-toggler" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" onclick="navigateToHome()">Home</a>
                <a class="dropdown-item" onclick="navigateToIndex()">Operazioni RdA</a>
                <a class="dropdown-item" href="/show_fornitori">DB Fornitori</a>
                <a class="dropdown-item" href="/show_rdas">Mostra tutte le RdA</a>
                <a class="dropdown-item" href="#">Statistiche</a>
                <a class="dropdown-item" href="#">Contact</a>
            </div>
        </div> 
    </nav>

    <div class="container my-5">
        <div class="card p-4">
            <h2 class="card-title">Tutti i DDT</h2>
            <ul class="list-group">
                {% for ddt in ddts %}
                <div class="list-group-item rda-item">
                    <div class="row">
                        <div class="col-md-4"><span class="rda-label">Costo Unitario:</span><span class="rda-value">{{ ddt['costo_unitario'] }}</span></div>
                        <div class="col-md-4"><span class="ddt-label">Fornitore:</span><span class="ddt-value">{{ ddt['quantita'] }}</span></div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-4"><span class="ddt-label">Ubicazione:</span><span class="ddt-value">{{ ddt['ubicazione'] }}</span></div>
                        <div class="col-md-4"><span class="ddt-label">Descrizione:</span><span class="ddt-value">{{ ddt['descrizione'] }}</span></div>
                        <div class="col-md-4"><span class="ddt-label">DDT:</span><span class="ddt-value">{{ ddt['ddt'] }}</span></div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-4"><span class="ddt-label">Data Ordine:</span><span class="ddt-value">{{ ddt['data_ordine'] }}</span></div>
                        <div class="col-md-4"><span class="ddt-label">Arrivato:</span><span class="ddt-value">{{ ddt['arrivato'] }}</span></div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-4"><span class="ddt-label">Data Arrivo Ordine:</span><span class="ddt-value">{{ ddt['data_arrivo_ordine'] }}</span></div>
                    </div>
                </div>
                {% endfor %}
            </ul>
            <a href="/" class="btn btn-primary mt-4">Torna alla Home</a>
        </div>
        
        <!-- Bootstrap JS and dependencies -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
    </html>









