<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Style CSS -->   
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_home.css') }}">

    <script>
        function navigateToIndex() {
        window.location.href = '/index';
        }
        function navigateToLogin() {
            window.location.href = '/login';
        }
        function navigateToLogout() {
            window.location.href = '/logout';
        }

        function navigateToRegister() {
            window.location.href = '/register';
        }
    </script>
</head>

<body>

    <!-- Navbar with dropdown hamburger menu -->
    <nav class="navbar navbar-dark">
        <div class="dropdown">
            <button class="navbar-toggler" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Home</a>
                <a class="dropdown-item" onclick="navigateToIndex()">Operazioni RdA</a>
                <a class="dropdown-item" href="/show_fornitori">DB Fornitori</a>
                <a class="dropdown-item" href="/show_rdas">Mostra tutte le RdA</a>
                <a class="dropdown-item" href="#">Statistiche</a>
                <a class="dropdown-item" href="#">Contact</a>
            </div>
            <!-- Buttons for Login, Logout, and Register -->
            <div class="ml-auto">
                <button class="btn btn-primary" onclick="navigateToLogin()">Login</button>
                <button class="btn btn-secondary" onclick="navigateToLogout()">Logout</button>
                <button class="btn btn-success" onclick="navigateToRegister()">Registrati</button>            
            </div> 
    </nav>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>