<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Style CSS -->   
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_index.css') }}">

    <script>
        function navigateToHome() {
            window.location.href = '/';
        }
        function navigateToInsert() {
            window.location.href = '/insert_rdas';
        }
        function navigateToLogistics() {
            window.location.href = '/insert_ddts';
        }
        function navigateToModify() {
            window.location.href = '/modify';
        }
        function navigateToSearch() {
            window.location.href = '/search';
        }
    </script>
</head>

<body>

    <!-- Navbar with dropdown hamburger menu -->
    <nav class="navbar navbar-dark">
        <div class="dropdown">
            <button class="navbar-toggler" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" onclick="navigateToHome()">Home</a>
                <a class="dropdown-item" href="#">Operazioni RdA</a>
                <a class="dropdown-item" href="/show_fornitori">DB Fornitori</a>
                <a class="dropdown-item" href="/show_rdas">Mostra tutte le RdA</a>
                <a class="dropdown-item" href="/show_ddts">Mostra tutti i DDT</a>
                <a class="dropdown-item" href="#">Statistiche</a>
                <a class="dropdown-item" href="#">Contact</a>
            </div>
        </div>
    </nav>

    <!-- Back To Home-->
        <button class="btn-back-home btn-back-home" onclick="navigateToHome()"><i class="fas fa-arrow-left"> <-- </i></button>


    <!-- Operations RdA-->
        <div class="row">
          <div class="col-12 col-md-4">
            <div class="list-group">
              <button class="btn btn-danger btn-sm btn-block list-group-item list-group-item-action" onclick="navigateToModify()">Modifica/Elimina<br>RdA/DDT</button>
              <button class="btn btn-danger btn-sm btn-block list-group-item list-group-item-action" onclick="navigateToInsert()">Inserisci nuova RdA</button>
              <button class="btn btn-danger btn-sm btn-block list-group-item list-group-item-action" onclick="navigateToLogistics()">Inserimento DDT</button>
              <button class="btn btn-danger btn-sm btn-block btn-lg list-group-item list-group-item-action">Cerca rapido RdA/Trasporti</button>
              <button class="btn btn-danger btn-sm btn-block list-group-item list-group-item-action" onclick="navigateToSearch()">Cerca rapido</button>
            </div>
          </div>

          <!-- Dashboard -->
          <div class="container my-5">
              <h2>Dashboard</h2>
            <div class="row">
                <div class="col-md-6" class="dashboard"> 
                    <div>
                        <ul>
                          <li>Rda 1</li>
                          <li>Rda 2</li>
                          <li>Rda 3</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6" class="dashboard">
                    <div>
                        <ul>
                           <li>DDT 1</li>
                           <li>DDT 2</li>
                           <li>DDT 3</li>
                        </ul>
                </div>
            </div>
        </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
