<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inserisci informazioni logistiche</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: grey;
        }
    </style>
    <script>
        function navigateToHome() {
        window.location.href = '/';
        }
        function navigateToIndex() {
        window.location.href = '/index';
        }
    </script>
</head>
<body>

    <!-- Navbar with dropdown hamburger menu -->
    <nav class="navbar navbar-dark">
        <div class="dropdown">
            <button class="navbar-toggler" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" onclick="navigateToHome()">Home</a>
                <a class="dropdown-item" onclick="navigateToIndex()">Operazioni RdA</a>
                <a class="dropdown-item" href="/show_fornitori">DB Fornitori</a>
                <a class="dropdown-item" href="/show_rdas">Mostra tutte le RdA</a>
                <a class="dropdown-item" href="#">Statistiche</a>
                <a class="dropdown-item" href="#">Contact</a>
            </div>
        </div> 
    </nav>

    <div class="container my-5">
        <div class="card p-4">
            <h2 class="card-title">Form per inserire il DDT</h2>
            <form action="#">
                <div class="form-group">
                    <label for="costo_unitario">COSTO UNITARIO (NN)</label>
                    <input type="text" class="form-control" id="costo_unitario" name="costo_unitario" required>
                </div>
                <div class="form-group">
                    <label for="quantita">QUANTITA (NN)</label>
                    <input type="number" class="form-control" id="quantita" name="quantita" required step="1">
                    <small class="form-text text-muted">* Inserisci un valore intero</small>
                </div>
                <div class="form-group">
                    <label for="ubicazione">UBICAZIONE (NN)</label>
                    <select class="form-control" id="ubicazione" name="ubicazione" required>
                        <option value="opzione1"></option>
                        <option value="opzione2">Magazzino</option>
                        <option value="opzione3">Laboratorio</option>
                        <option value="opzione4">Cliente</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="descrizione">DESCRIZIONE</label>
                    <input type="text" class="form-control" id="descrizione" name="descrizione" required>
                </div>
                <div class="form-group">
                    <label for="ddt">DDT</label>
                    <input type="text" class="form-control" id="ddt" name="ddt">
                </div>
                <div class="form-group">
                    <label for="data_ordine">DATA ORDINE</label>
                    <input type="date" class="form-control" id="data_ordine" name="data_ordine" required>
                </div>

                <div class="form-group">
                    <label for="arrivato">ARRIVATO (NN)</label>
                    <select class="form-control" id="stato_arrivato" name="stato_arrivato" required>
                        <option value="opzione1"></option>
                        <option value="opzione2">Si</option>
                        <option value="opzione3">No</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="data_arrivo_ordine">DATA ARRIVO ORDINE</label>
                    <input type="date" class="form-control" id="data_arrivo_ordine" name="data_arrivo_ordine" required>
                </div>
                <button type="submit" class="btn btn-danger btn-block">Submit</button>
            </form>
        </div>
    </div>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
