<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutte le RdA</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <style>
        body {
            background-color: grey;
        }
        .rda-item {
            border: 1px solid #dee2e6;
            border-radius: 5px;
            margin-bottom: 10px;
            padding: 15px;
        }
        .rda-label {
            font-weight: bold;
        }
        .rda-value {
            margin-left: 5px;
        }
    </style>
    <script>
        function navigateToHome() {
        window.location.href = '/';
        }
        function navigateToIndex() {
        window.location.href = '/index';
        }
    </script>
</head>
<body>


    <!-- Navbar with dropdown hamburger menu -->
    <nav class="navbar navbar-dark">
        <div class="dropdown">
            <button class="navbar-toggler" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" onclick="navigateToHome()">Home</a>
                <a class="dropdown-item" onclick="navigateToIndex()">Operazioni RdA</a>
                <a class="dropdown-item" href="/show_fornitori">DB Fornitori</a>
                <a class="dropdown-item" href="#">Mostra tutte le RdA</a>
                <a class="dropdown-item" href="#">Statistiche</a>
                <a class="dropdown-item" href="#">Contact</a>
            </div>
        </div> 
    </nav>

    <div class="container my-5">
        <h2>Tutte le RdA</h2>
        <ul class="list-group">
            {% for rda in rdas %}
            <div class="list-group-item rda-item">
                <div class="row mt-2">
                    <div class="col-md-4"><span class="rda-label">RDA:</span><span class="rda-value">{{ rda['rda'] }}</span></div>
                    <div class="col-md-4"><span class="rda-label">Basket Name:</span><span class="rda-value">{{ rda['basket_name'] }}</span></div>
                    <div class="col-md-4"><span class="rda-label">Fornitore:</span><span class="rda-value">{{ rda['fornitore'] }}</span></div>
                </div>
                <div class="row mt-2">                  
                    <div class="col-md-4"><span class="rda-label">Importo:</span><span class="rda-value">{{ rda['importo_sc'] }}</span></div>
                    <div class="col-md-4"><span class="rda-label">ODA:</span><span class="rda-value">{{ rda['oda'] }}</span></div>
                </div>
                <div class="row mt-2">                  
                    <div class="col-md-4"><span class="rda-label">Commessa:</span><span class="rda-value">{{ rda['commessa'] }}</span></div>
                    <div class="col-md-4"><span class="rda-label">Element:</span><span class="rda-value">{{ rda['element'] }}</span></div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-4"><span class="rda-label">Richiedente:</span><span class="rda-value">{{ rda['richiedente'] }}</span></div>
                    <div class="col-md-4"><span class="rda-label">Data Creazione:</span><span class="rda-value">{{ rda['data_creazione'] }}</span></div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-4"><span class="rda-label">Tipologia Acquisto:</span><span class="rda-value">{{ rda['tipologia_acquisto'] }}</span></div>
                </div>
            </div>
            {% endfor %}
        </ul>
        <a href="/" class="btn btn-primary mt-4">Torna alla Home</a>
    </div>
    
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
