<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inserisci nuova rdA</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: grey;
        }
    </style>
    <script>
        function navigateToHome() {
        window.location.href = '/';
        }
        function navigateToIndex() {
        window.location.href = '/index';
        }
    </script>
</head>
<body>

    <!-- Navbar with dropdown hamburger menu -->
    <nav class="navbar navbar-dark">
        <div class="dropdown">
            <button class="navbar-toggler" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" onclick="navigateToHome()">Home</a>
                <a class="dropdown-item" onclick="navigateToIndex()">Operazioni RdA</a>
                <a class="dropdown-item" href="/show_fornitori">DB Fornitori</a>
                <a class="dropdown-item" href="/show_rdas">DB RdA</a>
                <a class="dropdown-item" href="/show_ddts">DB DDT</a>
                <a class="dropdown-item" href="#">Statistiche</a>
                <a class="dropdown-item" href="#">Contact</a>
            </div>
        </div> 
    </nav>
    
    <div class="container my-5">
        <div class="card p-4">
            <h2 class="card-title">Form per inserire tutti i campi del DB SHOPPING CART</h2>
            {% if success %}
            <div class="alert alert-success" role="alert">
                RdA inserita con successo!
            </div>
            {% endif %}
            <form action="/insert_rdas" method="POST">
                <div class="form-group">
                    <label for="rda">RDA (*)</label>
                    <input type="number" class="form-control" id="rda" name="rda" required>
                </div>
                <div class="form-group">
                    <label for="basket_name">BASKET NAME (*)</label>
                    <input type="text" class="form-control" id="basket_name" name="basket_name" required>
                </div>
                <div class="form-group">
                    <label for="fornitore">FORNITORE (*)</label>
                    <select class="form-control" id="fornitore" name="fornitore" required>
                        <option value="" disabled selected>Seleziona un fornitore</option>
                        {% for fornitore in fornitori %}
                            <option value="{{ fornitore }}">{{ fornitore }}</option>
                        {% endfor %}
                    </select>
                    <small id="addFornitoreHelp" class="form-text text-muted">Se il fornitore non è presente, aggiungilo</small>
                    <input type="text" class="form-control mt-2" id="new_fornitore" name="new_fornitore" placeholder="Aggiungi nuovo fornitore">
                    <button type="button" class="btn btn-primary mt-2" onclick="addFornitore()">Aggiungi Fornitore</button>
                </div>
                <div class="form-group">
                    <label for="importo_sc">IMPORTO (*)</label>
                    <input type="number" class="form-control" id="importo_sc" name="importo_sc" required>
                </div>
                <div class="form-group">
                    <label for="oda">ODA (*)</label>
                    <input type="number" class="form-control" id="oda" name="oda" required>
                </div>
                <div class="form-group">
                    <label for="commessa">COMMESSA (*)</label>
                    <input type="text" class="form-control" id="commessa" name="commessa" required>
                </div>
                <div class="form-group">
                    <label for="element">ELEMENT (*)</label>
                    <input type="text" class="form-control" id="element" name="element" required>
                </div>
                <div class="form-group">
                    <label for="richiedente">RICHIEDENTE (*)</label>
                    <input type="text" class="form-control" id="richiedente" name="richiedente" required>
                </div>
                <div class="form-group">
                    <label for="data_creazione">DATA CREAZIONE (*)</label>
                    <input type="date" class="form-control" id="data_creazione" name="data_creazione" required>
                </div>
                <div class="form-group">
                    <label for="tipologia_acquisto">TIPOLOGIA ACQUISTO (*)</label>
                    <select class="form-control" id="tipologia_acquisto" name="tipologia_acquisto" required>
                        <option value="nullo"></option>
                        <option value="HW">HW</option>
                        <option value="SRV">SRV</option>
                        <option value="Formazione">Formazione</option>
                        <option value="Licenze">Licenze</option>
                        <option value="BR">BR</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-danger btn-block">Submit</button>
            </form>
            <hr>
            <a href="/show_rdas" class="btn btn-primary btn-block">Mostra tutte le RdA</a>
            <a href="/show_fornitori" class="btn btn-secondary btn-block">Mostra tutti i Fornitori</a>      
        </div>
    </div>
    
    <script>
        // Show RdA on database
        document.getElementById('showRdas').addEventListener('click', function() {
            var rdasDiv = document.getElementById('rdas');
            if (rdasDiv.style.display === 'none') {
                rdasDiv.style.display = 'block';
            } else {
                rdasDiv.style.display = 'none';
            }
        }); 


        // Aggiungi Fornitore      
        function addFornitore() {
            const newFornitoreInput = document.getElementById('new_fornitore');
            const fornitoreSelect = document.getElementById('fornitore');
            const newFornitore = newFornitoreInput.value.trim();

            if (newFornitore) {
                // Invio del nuovo fornitore al server per salvarlo nel database
                fetch('/add_fornitore', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ fornitore: newFornitore }),
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        // Aggiunta del nuovo fornitore al menu a tendina
                        const option = document.createElement('option');
                        option.value = newFornitore;
                        option.text = newFornitore;
                        option.selected = true;
                        fornitoreSelect.appendChild(option);
                        newFornitoreInput.value = '';
                    } else {
                        alert('Errore nell\'aggiungere il fornitore');
                    }
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
            }
        }
    </script>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
